In [8]:
import numpy as np
import pandas as pd

from sklearn.utils import resample
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#import category_encoders as ce
from sklearn.metrics import f1_score

import xgboost as xgb

In [9]:
df = pd.read_csv('../data/train.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   EmployeeNo                           38312 non-null  object
 1   Division                             38312 non-null  object
 2   Qualification                        36633 non-null  object
 3   Gender                               38312 non-null  object
 4   Channel_of_Recruitment               38312 non-null  object
 5   Trainings_Attended                   38312 non-null  int64
 6   Year_of_birth                        38312 non-null  int64
 7   Last_performance_score               38312 non-null  float64
 8   Year_of_recruitment                  38312 non-null  int64
 9   Targets_met                          38312 non-null  int64
 10  Previous_Award                       38312 non-null  int64
 11  Training_score_average               38312 non-null  int64
 12  State_Of_Origin                      38312 non-null  object
 13  Foreign_schooled                     38312 non-null  object
 14  Marital_Status                       38312 non-null  object
 15  Past_Disciplinary_Action             38312 non-null  object
 16  Previous_IntraDepartmental_Movement  38312 non-null  object
 17  No_of_previous_employers             38312 non-null  object
 18  Promoted_or_Not                      38312 non-null  int64
dtypes: float64(1), int64(7), object(11)
memory usage: 5.6+ MB

In [11]:
for col in df.columns:
    print(col, '\n' ,df[col].value_counts().sort_values(ascending=False) , '\n')

EmployeeNo
 YAK/S/48710    1
YAK/S/01051    1
YAK/S/34540    1
YAK/S/08463    1
YAK/S/50374    1
              ..
YAK/S/33563    1
YAK/S/14064    1
YAK/S/04174    1
YAK/S/28459    1
YAK/S/26751    1
Name: EmployeeNo, Length: 38312, dtype: int64

Division
 Commercial Sales and Marketing                 11695
Customer Support and Field Operations           7973
Sourcing and Purchasing                         5052
Information Technology and Solution Support     4952
Information and Strategy                        3721
Business Finance Operations                     1786
People/HR Management                            1704
Regulatory and Legal services                    733
Research and Innovation                          696
Name: Division, dtype: int64

Qualification
 First Degree or HND         25578
MSc, MBA and PhD            10469
Non-University Education      586
Name: Qualification, dtype: int64

Gender
 Male      26880
Female    11432
Name: Gender, dtype: int64

Channel_of_Recruitment
 Agency and others                  21310
Direct Internal process            16194
Referral and Special candidates      808
Name: Channel_of_Recruitment, dtype: int64

Trainings_Attended
 2     30981
3      5631
4      1244
5       316
6        93
7        28
8         6
10        5
9         4
11        4
Name: Trainings_Attended, dtype: int64

Year_of_birth
 1991    2544
1990    2506
1989    2441
1992    2380
1988    2268
1993    2217
1987    2157
1994    1985
1986    1882
1985    1766
1984    1505
1995    1416
1983    1342
1982    1195
1981    1162
1996     910
1980     893
1979     797
1978     685
1977     600
1997     596
1976     551
1975     508
1973     397
1974     394
1971     353
1972     312
1998     305
1970     256
1969     249
1968     233
1966     207
1967     195
1965     178
1964     168
1999     167
1963     161
1961     147
1962     134
2001      71
2000      66
1957       4
1958       3
1956       1
1955       1
1950       1
1959       1
1960       1
1952       1
Name: Year_of_birth, dtype: int64

Last_performance_score
 7.5     12993
12.5     8213
10.0     6932
2.5      4325
5.0      2944
0.0      2905
Name: Last_performance_score, dtype: int64

Year_of_recruitment
 2016    4916
2015    4757
2017    4656
2014    4101
2012    3909
2013    3314
2018    3194
2011    2011
2010    1865
2009    1497
2008     619
2007     570
2006     472
2004     422
2003     394
2005     376
2002     293
2001     269
2000     230
1999      90
1998      53
1995      51
1996      46
1997      38
1994      35
1993      27
1990      22
1991      21
1992      20
1988      13
1989      11
1987       8
1986       7
1985       4
1982       1
Name: Year_of_recruitment, dtype: int64

Targets_met
 0    24788
1    13524
Name: Targets_met, dtype: int64

Previous_Award
 0    37425
1      887
Name: Previous_Award, dtype: int64

Training_score_average
 41    1873
42    1867
40    1719
43    1634
52    1517
      ...
88      30
91      24
33      18
32       5
31       1
Name: Training_score_average, Length: 61, dtype: int64

State_Of_Origin
 LAGOS          6204
FCT            2389
OGUN           2302
RIVERS         2222
ANAMBRA        1710
KANO           1649
DELTA          1594
OYO            1508
KADUNA         1399
IMO            1307
EDO            1259
ENUGU          1025
ABIA            950
OSUN            929
ONDO            875
NIGER           857
KWARA           765
PLATEAU         739
AKWA IBOM       673
NASSARAWA       632
KATSINA         615
ADAMAWA         605
BENUE           579
BAUCHI          557
KOGI            542
SOKOTO          499
CROSS RIVER     495
EKITI           455
BORNO           447
TARABA          400
KEBBI           393
BAYELSA         324
EBONYI          313
GOMBE           291
ZAMFARA         290
JIGAWA          262
YOBE            257
Name: State_Of_Origin, dtype: int64

Foreign_schooled
 Yes    34995
No      3317
Name: Foreign_schooled, dtype: int64

Marital_Status
 Married     31022
Single       6927
Not_Sure      363
Name: Marital_Status, dtype: int64

Past_Disciplinary_Action
 No     38161
Yes      151
Name: Past_Disciplinary_Action, dtype: int64

Previous_IntraDepartmental_Movement
 No     34709
Yes     3603
Name: Previous_IntraDepartmental_Movement, dtype: int64

No_of_previous_employers
 1              18867
0              13272
2               1918
3               1587
4               1324
5                943
More than 5      401
Name: No_of_previous_employers, dtype: int64

Promoted_or_Not
 0    35071
1     3241
Name: Promoted_or_Not, dtype: int64

# cleaning
## droping unneeded columns  
droping EmployeeNo columns as it is unique value column

In [12]:
df.drop('EmployeeNo', axis=1, inplace=True)

## handeling missing data
Qualification has 1679 missing values
will cast them as unknow = '0'

In [17]:
df.Qualification.isna().sum()

1679

In [18]:
df.loc[df.Qualification.isna(), 'Qualification'] = '0'

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Division                             38312 non-null  object
 1   Qualification                        38312 non-null  object
 2   Gender                               38312 non-null  object
 3   Channel_of_Recruitment               38312 non-null  object
 4   Trainings_Attended                   38312 non-null  int64
 5   Year_of_birth                        38312 non-null  int64
 6   Last_performance_score               38312 non-null  float64
 7   Year_of_recruitment                  38312 non-null  int64
 8   Targets_met                          38312 non-null  int64
 9   Previous_Award                       38312 non-null  int64
 10  Training_score_average               38312 non-null  int64
 11  State_Of_Origin                      38312 non-null  object
 12  Foreign_schooled                     38312 non-null  object
 13  Marital_Status                       38312 non-null  object
 14  Past_Disciplinary_Action             38312 non-null  object
 15  Previous_IntraDepartmental_Movement  38312 non-null  object
 16  No_of_previous_employers             38312 non-null  object
 17  Promoted_or_Not                      38312 non-null  int64
dtypes: float64(1), int64(7), object(10)
memory usage: 5.3+ MB

## handeling the boolians columns

In [20]:
# turing yes no columns to bool
for col in ['Previous_IntraDepartmental_Movement', 'Past_Disciplinary_Action', 'Foreign_schooled']:
    df[col] = df[col].str.replace('Yes', '1').str.replace('No', '0')
    df[col] = df[col].astype('int').astype('bool')

In [21]:
# truning thr trarget column to bool
df.Promoted_or_Not = df.Promoted_or_Not.astype('bool')

In [ ]:
df['Year_since_recruitment'] = max(df.Year_of_recruitment) - df.Year_of_recruitment + 1

In [ ]:
# resampling the data set accoring to the traget to gerentate a balanced dataset
df_no_promo = df.loc[df.Promoted_or_Not == 0]
df_yes_promo = df.loc[df.Promoted_or_Not == 1]

In [ ]:
len(df_no_promo)

In [ ]:
len(df_yes_promo)

In [ ]:
to_blance_promo = resample(df_yes_promo, replace=True, n_samples=int(len(df_no_promo)), random_state=42)

In [ ]:
len(to_blance_promo)

In [ ]:
df_b = pd.concat([df_no_promo, to_blance_promo])
X = df_b.copy().drop(columns=['Year_of_recruitment','Promoted_or_Not', 'EmployeeNo', 'Division', 'Qualification', 'Channel_of_Recruitment', 'State_Of_Origin', 'Marital_Status', 'No_of_previous_employers', 'Gender'])
y = df_b.Promoted_or_Not

In [ ]:
df_b.info()

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [ ]:
#random forest with gini
rf = RandomForestClassifier(criterion='gini',n_estimators=150,max_depth=4,n_jobs=-1)

rf.fit(X_train,y_train)

rf_predict = rf.predict(X_test)

f1_score(y_test, rf_predict, average='micro')

In [ ]:
n_trees = [i for i in range(100,200)]
depths = [i for i in range(3,11)]
var_matrix = []
for i in depths:
    for j in n_trees:
        var_matrix.append((i, j))

In [ ]:
best = [0, 0, 0]
for depth, n_tree in var_matrix:
    rf = RandomForestClassifier(criterion='gini', n_estimators=n_tree, max_depth=depth,n_jobs=-1)
    rf.fit(X_train,y_train)
    rf_predict = rf.predict(X_test)
    f_score = f1_score(y_test, rf_predict, average='micro')
    print(best[0], best[1], best[2])
    if f_score > best[2]:
        best[0], best[1], best[2] = depth, n_tree, f_score